.header {
  text-align: center;
  padding: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}

.profile-pic:hover {
  transform: scale(1.2);
}

.header h1 {
  font-size: 24px;
  margin: 10px 0;
}

.header p {
  font-size: 14px;
  color: gray;
}
